@charset "utf-8";
/* CSS Document */
body {
	margin:0;
	padding:0;
	background-color:#172457;
}

#storbox{
	background-color: #172457;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0px;
	top: -4px;
}

header{
	width:45%;
	height:300px;
	background-color:#303C74;
	font-family:Tahoma, Geneva, sans-serif;
	margin-left:500px;
	overflow:hidden;
}

h1{
	text-align:center;
	color:#FFF;
	font-size:80px;
	font-variant:small-caps;
	margin-top:100px;

}

nav{
	width:45%;
	height:60px;
	background-color:#7B84AE;
	overflow:hidden;
	margin-left:500px;
}
li{
	line-height:40px;
	height:100%;
	width:25%;
	float:left;
	color:#FFF;
}

article{
	margin-left:500px;
	width:45%;
	height:100%;
	background-color:#7B84AE;
	color:#FFF;
}

a{
	color:#FFF;
	text-decoration:none;

}
